@import url('https://fonts.googleapis.com/css2?family=Bungee&family=DM+Sans&family=Roboto&display=swap');

body {
    background-color: #182a69;
    color: #f9f9f9;
    font-family: "DM Sans";
    text-align: center;
}

h1 {
    font-family: "Bungee";
    text-align: center;
}

p {
    font-family: "DM Sans";
}



.dropbtn {
    background-color: #474e66;
    color: white;
    padding: 16px;
    font-size: 32px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: absolute;
    left: 15px;
    top: 15px;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #0d1739;
    color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #03c179}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #182a69;
  }