* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.image {
  padding: 1rem, 1rem;
  border-radius: 50%;
}

.nav ul {
  list-style: none;
  display: flex;
}

.nav li {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
