[x-cloak] {
  display: none;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.custom-shape-divider-bottom-1666308196 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1666308196 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 51px;
}

.custom-shape-divider-bottom-1666308196 .shape-fill {
  fill: #FFFFFF;
}